body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    padding: 40px;
}

.container > h1 {
    text-align: center;
    margin-bottom: 30px;
    font-family: var(--fuente-principal);
}

.peliculas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    align-content: space-between; /* Distribuir el espacio verticalmente */
}

.pelicula {
    background-color: var(--color-terciario);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 200px;
    text-align: center;
    display: flex; /* Alinear elementos internos */
    flex-direction: column; /* Apilar elementos internos verticalmente */
    justify-content: center; /* Alinear verticalmente */
    align-items: center; /* Alinear horizontalmente */
    min-height: 300px; /* Establecer una altura fija para todos los contenedores */
    margin-bottom: 20px; /* Agregar margen inferior para espaciar las películas */
    align-items: stretch; /* Alinear las imágenes de arriba a abajo */
}

.pelicula img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.pelicula h2 {
    font-size: 18px;
    margin-bottom: 5px;
}

.pelicula p {
    font-size: 14px;
    margin-bottom: 5px;
}

#btn_seleccionar {
    background-color: var(--color-acentuar);
    color: var(--color-fondo);
    padding: 8px 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none; /* Eliminar subrayado del enlace */
    font-weight: bold;
}

#btn_seleccionar:hover {
    background-color: var(--color-acentuar-secundario);
}