:root {
    --color-fondo:rgb(1, 23, 34);
    --color-secundario:rgb(4, 37, 54);
    --color-terciario:rgb(13, 45, 62);
    --color-acentuar:rgb(231, 201, 28);
    --color-acentuar-secundario:rgb(196, 138, 46);
    --color-texto: #fff;
    --color-texto-secundario: #555;
    --fuente-principal: "DM Serif Text", serif;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: var(--color-fondo);
    color: var(--color-texto);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: var(--color-secundario);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 400px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
}

input[type="text"],
input[type="password"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--color-terciario);
    color: var(--color-texto);
}

button[type="submit"] {
    width: 100%;
    background-color: var(--color-acentuar);
    color: var(--color-fondo);
    padding: 14px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}

button[type="submit"]:hover {
    background-color: var(--color-acentuar-secundario);

}

a {
    color: var(--color-acentuar);
    text-decoration: none;
    display: block;
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
    color: var(--color-acentuar-secundario);
}