body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.contenedor {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    padding: 20px;
}

.descripcion {
    width: 45%;
    text-align: center;
}

.funcion {
    width: 45%;
    text-align: center;
}

.funcion table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #fff;
    margin-top: 20px;
    background-color: var(--color-terciario);
}

.funcion th, .funcion td {
    border: 1px solid var(--color-texto);
    padding: 10px;
    text-align: center;
    color: var(--color-texto);
}

.funcion th {
    background-color: var(--color-secundario);
    color: #fff;
    font-weight: bold;
    text-transform: uppercase; /* Convertir texto en mayúsculas */
}

/* .funcion tr:nth-child(even) {
    background-color: #1f1f1f;
} */

.funcion tr:hover {
    background-color: var(--color-acentuar);

    td {
        color: var(--color-fondo);
    }
}


.funcion td {
    padding: 10px;
    font-size: 14px;
}

.funcion td:first-child {
    font-weight: bold;
}

.funcion td:first-child, .funcion th:first-child {
    border-left: none;
}

.funcion td:last-child, .funcion th:last-child {
    border-right: none;
}


.pelicula {
    margin-bottom: 50px;
}